<!-- This launch file will create a node for imu and will start the imu_pub publisher to publish the imu data -->

<launch>

    <!-- This section is for imu -->
    <group ns="imu_sensor">
        <node pkg="shaker_percept" name="shaker_percept_imu" type="imu_pub" required="true" />
    </group>
    <!-- The imu section ends -->

    <node pkg="tf" type="static_transform_publisher" name="myframe_to_camera" args="0 0 0 0 0 0 1 map HWT905 10" />

</launch>